/* Styling For Both Pages */
.white-space{
    visibility: hidden;
}

footer{
    padding: 30px;
}

/* Survey Page Styling */
.content-wrapper{
    background: rgba(130, 207, 255, 0.555);
    /* background-image: linear-gradient(to top, lightskyblue, white); */
}
#survey{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 0px;
    -moz-padding-end: 0px;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    background-color: rgb(255, 255, 255); /* fallback color if gradients are not supported */
    background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Fx (3.6 to 15) */
    background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of IE 10*/
    background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */ 
    background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: rgb(112, 112, 112);
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 1px;
    padding-bottom: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Home Page Styling */
.big-bang-theory{
    margin-top: 1%;
    background: url(https://wwwimage-secure.cbsstatic.com/thumbnails/photos/w1920/marquee/1025011/666a5d6d38291e93_bbt_sp_hero_landscape.jpg);
    background-repeat: round;
    height: 600px;
}

.title{
    margin-top: 6%;
    margin-bottom: 1%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.basic-info{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}